<div class="dashboard-page">
  <h1>Medical Dashboard</h1>
  @if (dashboardService.isLoading()) {
  <div class="skeleton-grid">
    @for (item of [1, 2, 3, 4]; track item) {
    <div class="skeleton-card">
      <div class="skeleton-title"></div>
      <div class="skeleton-value"></div>
    </div>
    }
  </div>
  } @else {
  <button class="update-btn" (click)="dashboardService.increasePatientCount()">
    Update Patient Count
  </button>
  <div class="stats-grid">
    @for (stat of dashboardService.dashboardStats(); track stat.title) {
    <app-stat-card [title]="stat.title" [value]="stat.value">
    </app-stat-card>
    }
  </div>
  <div class="summary-grid">

    @for (
    item of dashboardService.analyticsSummary();
    track item.title
    ) {

    <app-analytics-summary-card [title]="item.title" [percentage]="item.percentage" [trend]="item.trend">
    </app-analytics-summary-card>

    }

  </div>
  <app-patient-chart [series]="dashboardService.patientChartData().series"
    [categories]="dashboardService.patientChartData().categories" color="#1976d2">
  </app-patient-chart>

  <div class="charts-grid">

    <app-patient-chart title="Revenue Trends" [series]="dashboardService.revenueChartData().series"
      [categories]="dashboardService.revenueChartData().categories" color="#16a34a">
    </app-patient-chart>

    <app-patient-chart title="Critical Cases" [series]="dashboardService.criticalCasesChartData().series"
      [categories]="dashboardService.criticalCasesChartData().categories" color="#dc2626">
    </app-patient-chart>

  </div>
  }

</div>